<ul>
    <li>.Site.Title = {{ .Site.Title }}</li>
    <li>.Site.BaseURL = {{ .Site.BaseURL }}</li>

    <li>.Site.Params.bar = {{ .Site.Params.bar }}</li>
    <li>.Site.Params.Bar = {{ .Site.Params.Bar }}</li>
    <li>.Site.Params.bAR = {{ .Site.Params.bAR }}</li>
    <li>.Site.Params.temp1 = {{ .Site.Params.temp1 }}</li>
    <li>.Site.Params.temp1.var1 = {{ .Site.Params.temp1.var1 }}</li>
</ul>

<ul>
    <!-- Below does not work even if I have below in my config.toml:

         theme= "bare_min"

         * Uncomment the below template to see the problem. *
       -->
    <li>.Site.Theme = {{/* .Site.Theme */}}</li>

    <!-- Below does not work even if I have below in my config.toml:

         baz = "baz"

         * Uncomment the below template to see the problem. *
       -->
    <li>.Site.baz = {{/* .Site.baz */}}</li>

    <!-- About commenting out templates
         https://discuss.gohugo.io/t/how-to-add-comments-in-a-template/75/3
       -->
    <!-- Below does not work even if I have below in my config.toml:

         Baz = "Baz"

         * Uncomment the below template to see the problem. *
       -->
    <li>.Site.Baz = {{/* .Site.Baz */}}</li>

    <!-- Below does not work even if I have below in my config.toml:

         [foo]
         bar = "foo.bar"

         * Uncomment the below template to see the problem. *
       -->
    <li>.Site.Foo.bar = {{/* .Site.Foo.bar */}}</li>

    <!-- Below does not work even if I have below in my config.toml:

         [Bam]
         bar = "Bam.bar"

         * Uncomment the below template to see the problem. *
       -->
    <li>.Site.Bam.bar = {{/* .Site.Bam.bar */}}</li>
</ul>
